<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Game Coder | Login</title>
        <h:outputStylesheet library="template" name="css/app.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <h:outputStylesheet library="template" name="css/materialize.min.css"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputScript library="template" name="js/jquery-3.3.1.min.js" />
        <h:outputScript library="template" name="js/app.js" />
        <h:outputScript library="template" name="js/materialize.min.js" />
        <style type="text/css">
          input{
            color: black;
          }

          input .active{
              color: black;
          }
        </style>
    </h:head>
    <h:body class="backgroundLogin">
        <div class="container">
            <div class="row" style="margin-top: 200px; background: transparent;">
                <div class="col s12">
                    <div class="col s3"></div>
                    <div class="col s6 card-content card-login">
                        <div class="col s12">
                            <div id="messenger" class="messenger"></div>
                        </div>
                        <div class="col s12">
                            <h:form style="text-align: center;">
                                <div class="col s12 input-field">
                                    <i class="material-icons prefix">account_circle</i><h:inputText id="usuario"
                                         requiredMessage="Ingrese un Usuario!"
                                         value="#{gameCoderLoginBean.usuario.correo}" required="true"
                                         style="background: transparent !important;" autocomplete="off"/>
                                    <h:outputLabel for="usuario" value="Usuario: "/>
                                </div>
                                <div class="col s12 input-field">
                                    <i class="material-icons prefix">vpn_key</i><h:inputSecret id="password"
                                    requiredMessage="Ingrese una Contrase&ntilde;a!" 
                                    value="#{gameCoderLoginBean.usuario.password}" required="true"/>
                                    <h:outputLabel for="password" value="Contrase&ntilde;a "/>
                                </div>
                                <center>
                                    <div class="col s3"></div>
                                    <div class="col s3 input-field" style="margin-left: 20px;">
                                        <h:commandButton class="waves-effect waves-light btn z-depth-5" value="Iniciar Sesi&oacute;n" 
                                                         action="#{gameCoderLoginBean.credenciales()}"/>
                                    </div>
                                    <div class="col s3"></div>
                                </center>
                            </h:form>
                        </div>
                    </div>
                    <div class="col s3"></div>
                </div>
            </div>
            <div class="col s12">
                 <h:graphicImage library="template" name="img/yoshi_standing.gif" class="sprites" style="margin-left: 250px"/>
                 <h:graphicImage library="template" name="img/mario.gif" class="sprites" style="margin-bottom: 14px;"/>
                 <h:graphicImage library="template" name="img/babymario.gif" class="sprites"/>
                 <h:graphicImage library="template" name="img/yoshimario.gif" class="sprites"/>
            </div>
        </div>
    </h:body>
</html>
