<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../Plantilla.xhtml">

            <ui:define name="content">
                <div class="container">
                     <div class="col s12">
                         <h:form enctype="multipart/form-data">
                             <div class="row box-shadow-item">
                                 <div class="col s12">
                                    <div class="input-field col s4">
                                        <h:inputText id="input_text_n"  a:data-length="100" 
                                                     value="#{gameCoderObjectsBean.object.nombre}"
                                                     required="true"
                                                     requiredMessage="Ingrese un nombre"/>
                                       <label for="input_text_n">Nombre</label>
                                    </div>
                                     <div class="input-field col s4">
                                        <h:inputText id="input_text_x"  a:data-length="100" 
                                                     value="#{gameCoderObjectsBean.object.x}"
                                                     required="true"
                                                     requiredMessage="Ingrese una posicion en x"/>
                                        <label for="input_text_n">Posici&oacute;n en x</label>
                                     </div>
                                     <div class="input-field col s4">
                                        <h:inputText id="input_text_y"  a:data-length="100" 
                                                     value="#{gameCoderObjectsBean.object.y}"
                                                     required="true"
                                                     requiredMessage="Ingrese una posicion en y"/>
                                        <label for="input_text_n">Posici&oacute;n en y</label>
                                     </div>
                                 </div>
                                 <div class="col s12">
                                     <div class="col s1"></div>
                                     <div class="input-field col s5">
                                         <h:selectOneMenu value="#{gameCoderObjectsBean.asset}" converter="convertidorAssets" required="true" requiredMessage="Seleccione un asset">
                                             <f:selectItem  itemLabel="Asset" a:disabled="disabled" a:selected="selected"/>
                                             <f:selectItems value="#{gameCoderObjectsBean.listaAssets}" var="asset"
                                                            itemLabel="#{asset.nombre}" itemValue="#{asset}"/>
                                         </h:selectOneMenu>
                                        <label>Asset</label>
                                      </div>
                                     <div class="input-field col s5">
                                         <h:selectOneMenu value="#{gameCoderObjectsBean.level}" converter="convertidorLevels" required="true" requiredMessage="Seleccione un nivel">
                                             <f:selectItem  itemLabel="Nivel" a:disabled="disabled" a:selected="selected"/>
                                             <f:selectItems value="#{gameCoderObjectsBean.listaNiveles}" var="level"
                                                            itemLabel="#{level.nombre}" itemValue="#{level}"/>
                                         </h:selectOneMenu>
                                        <label>Nivel</label>
                                      </div>
                                     <div class="col s1"></div>
                                 </div>
                                 <div class="col s12">
                                    <div class="col s4"></div>
                                    <div class="col s4 input-field" style="text-align: center;">
                                        <h:commandButton class="waves-effect waves-light btn z-depth-5" value="Agregar" 
                                                         action="#{gameCoderObjectsBean.createObject()}"/>
                                    </div>
                                    <div class="col s4"></div>
                                </div>
                             </div>
                         </h:form>
                     </div>
                 </div>
                
                <script type="text/javascript">
                     $(document).ready(function() {
                        $("input[type=text]").each(function(index,val){
                            $(this).characterCounter();
                        });
                        $('select').formSelect();
                      });
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
