<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <body>

        <ui:composition template="./../../Plantilla.xhtml">

            <ui:define name="content">
                <div class="container">
                    <div class="col s12">
                        <div id="msgUsr" class="messenger" style="color: #baf5f8;top: 18% !important;"></div>
                    </div>
                     <div class="col s12" style="margin-top: 120px;">
                         <h:form enctype="multipart/form-data">
                             <div class="row box-shadow-item">
                                 <div class="col s12">
                                    <div class="input-field col s4">
                                        <h:inputText id="input_text_n"  a:data-length="100" 
                                                     value="#{gameCoderAssetsBean.assetTemp.nombre}"
                                                     required="true"
                                                     requiredMessage="Ingrese un nombre"/>
                                       <label for="input_text_n">Nombre</label>
                                    </div>
                                     <div class="input-field col s4">
                                         <h:selectOneMenu value="#{gameCoderAssetsBean.typeFile}" rendered="#{gameCoderAssetsBean.typeAssetRender() == true}">
                                             <f:selectItem itemValue = "Sprite" itemLabel = "Sprite" a:selected="true" /> 
                                             <f:selectItem itemValue = "Sound"   itemLabel = "Sound" /> 
                                         </h:selectOneMenu>
                                         
                                         <h:selectOneMenu value="#{gameCoderAssetsBean.typeFile}" rendered="#{gameCoderAssetsBean.typeAssetRender() == false}">
                                             <f:selectItem itemValue = "Sprite" itemLabel = "Sprite" /> 
                                             <f:selectItem itemValue = "Sound"   itemLabel = "Sound" a:selected="true" /> 
                                         </h:selectOneMenu>
                                        <label>Tipo Asset</label>
                                      </div>
                                     <div class="input-field col s4">
                                         <label class="fileContainer">
                                             <i class="material-icons" style="display: inline-block;position: absolute;">cloud_upload</i>
                                             <span style="padding: 30px;">Escoge un archivo</span>
                                             <h:inputFile id="file" value="#{gameCoderAssetsBean.file}" validator="#{gameCoderAssetsBean.validateFile}"/>
                                         </label>
                                     </div>
                                     <div class="col s12">
                                     <div class="col s4"></div>
                                     <div class="col s4 input-field" style="text-align: center;">
                                         <h:commandButton class="waves-effect waves-light btn z-depth-5" value="Editar" 
                                                          action="#{gameCoderAssetsBean.updateAssets()}"/>
                                     </div>
                                     <div class="col s4"></div>
                                 </div>
                                 </div>
                             </div>
                         </h:form>
                    </div>
                    <div class="col s12">
                          <h:graphicImage library="template" name="img/DC_BO_Ultimate_Phalanx.gif" class="sprites-two" style="margin-left: 250px"/>
                          <h:graphicImage library="template" name="img/dblazonbelthchargex2.gif" class="sprites-two"/>
                    </div>
                </div>
                
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('select').formSelect();
                        $("input[type=text]").each(function(index,val){
                            $(this).characterCounter();
                        });
                        var messages = [
                            'Sprites',
                            'Edit'
                          ];
                          var messenger = new Messenger($('#msgUsr'),messages);
                        $("#content").addClass('assets-background-insert');
                    });
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
