<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <body>

        <ui:composition template="./../../Plantilla.xhtml">

            <ui:define name="content">
                <div class="container">
                    <div class="col s12">
                        <div id="msgUsr" class="messenger messenger-fixed-top" style="color:white;"></div>
                    </div>
                     <div class="col s12" style="margin-top: 120px;">
                         <h:form>
                             <div class="row box-shadow-item">
                                 <div class="col s12">
                                    <div class="input-field col s4">
                                        <h:inputText id="input_text_n"  a:data-length="100" 
                                                     value="#{gameCoderUsuariosBean.usuarioEdit.nombre}"
                                                     rendered="true"
                                                     requiredMessage="Ingrese un nombre"/>
                                       <label for="input_text_n">Nombre</label>
                                     </div>
                                    <div class="input-field col s4">
                                       <h:inputText id="input_text_am" a:data-length="100"
                                                    value="#{gameCoderUsuariosBean.usuarioEdit.materno}"
                                                    rendered="true"
                                                    requiredMessage="Ingrese un apellido materno"/>
                                       <label for="input_text_am">Apellido Materno</label>
                                     </div>
                                    <div class="input-field col s4">
                                       <h:inputText id="input_text_ap" a:data-length="100"
                                                    value="#{gameCoderUsuariosBean.usuarioEdit.paterno}"
                                                    rendered="true"
                                                    rendererType="Ingrese un apellido paterno"/>
                                       <label for="input_text_ap">Apellido Paterno</label>
                                     </div>
                                </div>
                                 <div class="col s12">
                                     <div class="input-field col s4">
                                         <h:inputText id="input_text_c" a:data-length="100"
                                                      value="#{gameCoderUsuariosBean.usuarioEdit.correo}"
                                                      rendered="true"
                                                      requiredMessage="Ingrese un correo"/>
                                         <label for="input_text_c">Correo</label>
                                     </div>
                                     <div class="input-field col s4">
                                         <h:inputSecret id="input_text_p"
                                                        value="#{gameCoderUsuariosBean.usuarioEdit.password}"/>
                                         <label for="input_text_p">Password</label>
                                     </div>
                                     <div class="input-field col s4">
                                         <h:inputSecret id="input_text_cp"
                                                        value="#{gameCoderUsuariosBean.confirmPass}"/>
                                         <label for="input_text_cp">Confirmar Password</label>
                                     </div>
                                 </div>
                                 <div class="col s12">
                                     <div class="col s4"></div>
                                     <div class="col s4 input-field" style="text-align: center;">
                                         <h:commandButton class="waves-effect waves-light btn z-depth-5" value="Editar" 
                                                          action="#{gameCoderUsuariosBean.editUser()}"/>
                                     </div>
                                     <div class="col s4"></div>
                                 </div>
                             </div>
                         </h:form>
                     </div>
                    <div class="col s12">
                          <h:graphicImage library="template" name="img/ironman.gif" class="sprites-two" style="margin-left: 250px"/>
                          <h:graphicImage library="template" name="img/omegared.gif" class="sprites-two"/>
                     </div>
                 </div>
                
                <script type="text/javascript">
                     $(document).ready(function() {
                        $("input[type=text]").each(function(index,val){
                            $(this).characterCounter();
                        });
                        var messages = [
                            'Usuarios',
                            'Edit'
                          ];
                        var messenger = new Messenger($('#msgUsr'),messages);
                        $("#content").addClass('usuarios-background');
                      });
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
