<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../Plantilla.xhtml">

            <ui:define name="content">
                <div class="container">
                    <div class="row" style="margin-top: 200px; background: transparent;">
                        <div class="col s12">
                            <div id="msgLand" class="messenger"></div>
                        </div>
                        <div class="col s12" style="margin-top: -100px;">
                            <div class="carousel">
                                <c:forEach items="#{gameCoderLandingBean.listaAssets}" var="assets">
                                    <div class="carousel-item" >
                                        <p:graphicImage value="#{gameCoderLandingBean.displayImages(assets.path)}" stream="false" width="100%"/> 
                                    </div>
                                </c:forEach>
                            </div>
                        </div>
                    </div>
                </div>
                
                <script type="text/javascript">
                    $(document).ready(function(){
                        var messages = [
                            'Nuevos Assets',
                            'Game Coder'
                        ];
                        var msgLand = new Messenger($('#msgLand'),messages);
                        $('.carousel').carousel();
                    });
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
