<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../Plantilla.xhtml">

            <ui:define name="content">
                <div class="container">
                    <div class="col s12">
                        <div id="msgObj" class="messenger messenger-fixed-top"></div>
                    </div>
                    <div class="col s12" style="margin-top: 120px;">
                        <table id="tableObj" class="striped">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">ID</th>
                                    <th style="text-align: center;">Nombre</th>
                                    <th style="text-align: center;">Nivel</th>
                                    <th style="text-align: center;">Editar</th>
                                    <th style="text-align: center;">Borrar</th>
                                </tr>
                            </thead>
                            <c:forEach items="#{gameCoderObjectsBean.listaObjetos}" var="objects">
                                <tr>
                                    <td style="text-align: center;">
                                        #{objects.idObjetos}
                                    </td>
                                    <td style="text-align: center;">
                                        #{objects.nombre}
                                    </td>
                                    <td style="text-align: center;">
                                        #{objects.nivelesidNiveles.nombre}
                                    </td>
                                    <td style="text-align: center;">
                                        <h:form>
                                            <h:commandLink action="#{gameCoderObjectsBean.prepareForEdit(objects)}">
                                                <i class="material-icons">brush</i>
                                            </h:commandLink>
                                        </h:form>
                                    </td>
                                    <td style="text-align: center;">
                                        <!-- Modal Trigger -->
                                        <a class="waves-effect waves-light btn modal-trigger" href="#modal#{objects.idObjetos}">
                                            <i class="material-icons">delete_forever</i>
                                        </a>
                                        <!-- Modal Structure -->
                                        <div id="modal#{objects.idObjetos}" class="modal bottom-sheet">
                                          <div class="modal-content">
                                            <h4>Eliminar Objeto</h4>
                                            <p>Estas seguro de eliminar al objeto #{objects.nombre}?</p>
                                          </div>
                                          <div class="modal-footer">
                                            <!-- <a href="#!" class="modal-action 
                                                  modal-close waves-effect waves-green btn-flat">Agree</a> -->
                                            <h:form>
                                                <h:commandButton class="modal-action modal-close waves-effect waves-green btn-flat" value="Aceptar" 
                                                                 action="#{gameCoderObjectsBean.deleteObject(objects)}"/>
                                            </h:form>
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                            </c:forEach>
                        </table> 
                        <div class="row" style="padding: 20px;background-color: transparent;">
                            <div class="col s12">
                                <div class="col s4"></div>
                                <div class="col s4"></div>
                                <div class="col s2"></div>
                                <div class="col s2">
                                    <h:form>
                                        <h:commandLink styleClass="btn-floating btn-large waves-effect waves-light red z-depth-3" action="#{gameCoderObjectsBean.InsertObjectViewRedirect}">
                                            <i class="material-icons">add</i>
                                        </h:commandLink>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 center text-center">
                            <span class="left" id="total_reg"></span>
                            <ul class="pagination pager" id="pager"></ul>
                        </div>
                    </div>
                </div>
                
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.modal').modal();
                        var messages = [
                            'Objetos',
                            'Create',
                            'Update',
                            'Delete'
                          ];
                          var messenger = new Messenger($('#msgObj'),messages);
                           $('#tableObj').pageMe({
                            pagerSelector:'#pager',
                            activeColor: 'blue',
                            prevText:'Anterior',
                            nextText:'Siguiente',
                            showPrevNext:true,
                            hidePageNumbers:false,
                            perPage:5
                          });
                    });
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
