.row{
   background-color: gray;
   margin-bottom: 1rem;
}

.columns{
    background: #767676;
  border: 5px solid black;
}

.columns   span {
    background: white;
    display: block;
    text-align: center;
    width: 100%;
}
.backgroundGame{
    background: url("#{resource['/template/img/imageproxy.gif']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 250px;
}
.backgroundLoader{
    /*background: url("#{resource['/template/img/backgroundSplash.gif']}");*/
    height: 400px;
    margin: 120px auto;
}

.imgYoshi{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-left: 130px;
    display: block;
}

.footer{
   width: 100%;
   height: auto;
   /*position: fixed;*/
   left: 0;
   bottom: 0;
   background-color: red;
   color: white;
   text-align: center;
}

.backgroundLogin{
    background: url("#{resource['/template/img/bgl.gif']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-login{
    -webkit-box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important;
    -moz-box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important;
    box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important;
    background-color: transparent !important;
}

.box-shadow-item{
    -webkit-box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important;
    -moz-box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important;
    box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important; 
    background-color: transparent !important;
}

table{
   -webkit-box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important;
    -moz-box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important;
    box-shadow: 0px 16px 130px 12px rgba(117,117,117,1) !important; 
    background-color: transparent !important; 
}

/* 
   Word Scrambler
   @Lauri
   https://codemyui.com/clean-word-scrambler-effect/   
   Text animation
*/
.messenger {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(#000, 0.9);
  color: #000;
}

.messenger-fixed-top{
   top: 15% !important;
}

.sprites{
    width: 100px;
    display: inline-block;
}

/*
*  Input Style
*/
.fileContainer {
    overflow: hidden;
    position: relative;
    color: white !important;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: #26a69a;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  footer {
    flex: 1 0 auto;
  }
  
  /*
   * Usuarios
   *
   **/
  .usuarios-background{
      background: url("#{resource['/template/img/msf-onthehilltop.gif']}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-weight: 500;
  }
  
  input{
    color: white;
  }
  
  input .active{
      color:white;
  }
  
  .assets-background{
      background: url("#{resource['/template/img/parallax5.gif']}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-weight: 500;
  }
  
  .assets-background-insert{
      background: url("#{resource['/template/img/PMpL.gif']}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-weight: 500;
  }
  
  .level-background{
      background: url("#{resource['/template/img/tumblr_o70apzlUmH1rrftcdo1_540.gif']}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      background-position-y: -435px;
      font-weight: 500;
  }
  
  
.sprites-two{
    width: 200px;
    display: inline-block;
}

