/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 15, 2018, 7:39:18 PM
    Author     : alan
*/

/* Animacion de cargando 
   By @Anton Mudrenok
   https://codemyui.com/wave-text-animation-css/
   Modified: Alan Josue Rodriguez Gomez
*/
/**, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

/*
 * Font Face
*/
@font-face {
    font-family: Muli;
    src: url('https://fonts.googleapis.com/css?family=Muli');
}

html, body {
  font-size: 62.5%;
  /*background-color: #00091B;*/
  font-family: Muli, Helvetica, sans-serif;
}

.container {
  position: absolute;
  width: 33rem;
  height: 10rem;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fff;
  font-size: 6rem;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  bottom: 0;
  animation: text 1050ms ease-in infinite;
  transform: translatez(0);
}

.text-c {
    left: 2rem;
    transform: translate3d(0, -4rem, 0);
    animation: text-w 1050ms ease-in infinite;
}
.text-a {
    left: 5.4rem;
    animation-delay: 150ms;
}
.text-r {
    left: 9.6rem;
    animation-delay: 230ms;
}
.text-g {
    left: 13rem;
    animation-delay: 310ms;
}

.text-ga {
    left: 17rem;
    animation-delay: 310ms;
}

.text-n {
    left: 21rem;
    animation-delay: 390ms;
}

.text-d {
    left: 25rem;
    animation-delay: 470ms;
}

.text-o {
    left: 29rem;
    animation-delay: 550ms;
}
/*
 // wave: translate-x
*/
.coast { 
  position: absolute;
  left: 1.3rem;
  bottom: 1.7rem;
  width: 6.2rem;
  height: 2.2rem;
  display: inline-block;
  animation: coast 2100ms linear infinite;
  transform: translateZ(0);
}

.wave-rel-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 3rem;
  perspective-origin: 0%, 50%;
}

/*
  // wave: width && scale && rotate 
*/
.wave { 
  position: absolute;
  width: 6.2rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  background: radial-gradient(ellipse at center, rgba(116, 241, 252, 1) 0%, rgba(50, 230, 255, 1) 73%, rgba(21, 199, 250, 1) 100%);
  display: inline-block;
  animation: wave 2100ms linear infinite;
  will-change: width;
  transform: translateZ(0) scale(0);
}

.delay {
  animation-delay: 2100ms / 2;
}

@keyframes text {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -4rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text-w {
  0% {
    transform: translate3d(0, -4rem, 0);
  }
  38% {
    transform: translate3d(0, -4rem, 0);
  }
  69% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -4rem, 0);
  }
}

@keyframes coast {
  0% {
    transform: translate3d(0, 0, 0);
  }
  23% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(30rem, 0, 0);
  }
  100% {
    transform: translate3d(30rem, 0, 0);
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
    width: 2.2rem;
  }
  10% {
    transform: scale(1);
  }
  23% {
    width: 2.2rem;
  }
  32% {
    width: 6.1rem;
  }
  42% {
    width: 5rem;
    transform: rotateY(0deg) scale(1, 1);
  }
  51% {
    transform: rotateY(90deg) scale(0.6, 0.2);
  }
  52% {
    transform: rotateY(90deg) scale(0);
  }
  100% {
    transform: rotateY(90deg) scale(0);
  }
}
