/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2018, 10:58:41 PM
    Author     : alan
*/

.row{
   background-color: gray;
   margin-bottom: 1rem;
}

.columns{
    background: #767676;
  border: 5px solid black;
}

.columns   span {
    background: white;
    display: block;
    text-align: center;
    width: 100%;
}
.backgroundGame{
    background: url("#{resource['/template/img/imageproxy.gif']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 250px;
}
.backgroundLoader{
    /*background: url("#{resource['/template/img/backgroundSplash.gif']}");*/
    height: 400px;
    margin: 120px auto;
}

.imgYoshi{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-left: 130px;
    display: block;
}
