<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div class="container">
          <div class="row center" style="background: transparent;">
            <div class="col l4 s12">
                <h5 class="white-text">Contacto</h5>
                <p class="grey-text text-lighten-4">
                    <p class="white-text">arodriguez@caedex.com</p>
                </p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Tel&eacute;fono</h5>
                <p class="white-text text-lighten-4">
                    <p class="white-text">5537456718</p>
                </p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Desarrollador</h5>
                <div class="container">
                    <p class="white-text">Alan Josue Rodr&iacute;guez G&oacute;mez</p>
                </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright Derechos reservados M&eacute;xico, CDMX.
          <a class="grey-text text-lighten-4 right">Caedex</a>
          </div>
        </div>
    </h:body>
</html>

