<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title> 
    </h:head>
    <h:body>
         <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">
                    <h:graphicImage library="template" name="img/logo_caedex.png" style="width: 89px;padding-top: 2px;"/>
                </a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><h:link outcome="/Public/mainGame">Game Coder</h:link></li>
                  <li><h:link outcome="/Public/main">Main</h:link></li>
              </ul>
            </div>
          </nav>
    </h:body>
</html>

