<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
              <div class="background">
                <h:graphicImage library="template"  name="img/backgroundSideNav.gif"/>
              </div>
              <a href="#user">
                  <h:graphicImage library="template"  name="img/userImage.png" styleClass="circle" style="width: 80px;"/>
              </a>
              <a href="#name">
                  <span class="white-text name">#{gameCoderUsuariosBean.constructName()}</span>
              </a>
              <a href="#email">
                  <span class="white-text email">#{gameCoderUsuariosBean.usuario.correo}</span>
              </a>
            </div></li>
            <li>
                <h:form>
                    <h:link outcome="/Private/Landing">
                        <i class="material-icons" style="margin-left: 60px;text-decoration: none;color:black;">computer</i>
                        <span style="display: inline-block;position: absolute;margin-top: -7px;margin-left: 20px;color:black;">Principal</span>
                    </h:link>
                </h:form>
            </li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Secci&oacute;n de usuarios</a></li>
            <li>
                <h:form>
                    <h:link outcome="/Private/Usuarios">
                        <i class="material-icons" style="margin-left: 60px;text-decoration: none;color:black;">account_circle</i>
                        <span style="display: inline-block;position: absolute;margin-top: -7px;margin-left: 20px;color:black;">Usuarios</span>
                    </h:link>
                </h:form>
            </li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Secci&oacute;n del juego</a></li>
            <li>
                <h:form>
                    <h:link outcome="/Private/Assets">
                        <i class="material-icons" style="margin-left: 60px;text-decoration: none;color:black;">burst_mode</i>
                        <span style="display: inline-block;position: absolute;margin-top: -7px;margin-left: 20px;color:black;">Sprites</span>
                    </h:link>
                </h:form>
            </li>
            <li>
                <h:form>
                    <h:link outcome="/Private/Levels">
                        <i class="material-icons" style="margin-left: 60px;text-decoration: none;color:black;">explore</i>
                        <span style="display: inline-block;position: absolute;margin-top: -7px;margin-left: 20px;color:black;">Niveles</span>
                    </h:link>
                </h:form>
            </li>
            <li>
                <h:form>
                    <h:link outcome="/Private/Objects">
                        <i class="material-icons" style="margin-left: 60px;text-decoration: none;color:black;">nature_people</i>
                        <span style="display: inline-block;position: absolute;margin-top: -7px;margin-left: 20px;color:black;">Objetos</span>
                    </h:link>
                </h:form>
            </li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Log Out</a></li>
            <li>
                <h:form>
                    <h:commandLink action="#{gameCoderControlAcceso.cerrarSesion()}">
                        <i class="material-icons" style="margin-left: 60px;text-decoration: none;color:black;">
                            assignment_return
                        </i>
                        <span style="display: inline-block;position: absolute;margin-top: -7px;margin-left: 20px;color:black;">Cerrar Sesion</span>
                    </h:commandLink>
                </h:form>
            </li>
          </ul>
          <a id="ia" href="#" data-target="slide-out" class="sidenav-trigger">
              <i class="material-icons" style="font-size: 50px;">menu</i>
          </a>
        <script>
            $(document).ready(function(){
                $(".sidenav").sidenav();
            });
        </script>
    </h:body>
</html>

