<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Game Coder</title>
         <h:outputScript library="template" name="js/jquery-3.3.1.min.js" />
         <!--Import materialize.css-->
        <h:outputStylesheet library="template" name="css/materialize.min.css"/>
        <h:outputStylesheet library="template" name="css/preloader.css" />
        <h:outputStylesheet library="template" name="css/loader.css" />
        <h:outputScript library="template" name="js/materialize.min.js" />
        <meta http-equiv="refresh" content="3,url=Public/main.gamecoder" />
        <h:outputScript library="template" name="js/materialize.min.js" />
        <h:outputScript library="template" name="js/app.js" />
    </h:head>
    <h:body class="backgroundGame loader">
        <div class="container">
            <div class="col s12">
                <div class="col s8 backgroundLoader">
                     <h:graphicImage library="template" name="img/yoshi_standing.gif" class="imgYoshi"/>
                </div>
                <!-- Animacion cargando -->
                <div class="container">
                    <div class="coast">
                      <div class="wave-rel-wrap">
                        <div class="wave"></div>
                      </div>
                    </div>
                    <div class="coast delay">
                      <div class="wave-rel-wrap">
                        <div class="wave delay"></div>
                      </div>
                    </div>
                    <div class="text text-c">c</div>
                    <div class="text text-a">a</div>
                    <div class="text text-r">r</div>
                    <div class="text text-g">g</div>
                    <div class="text text-ga">a</div>
                    <div class="text text-n">n</div>
                    <div class="text text-d">d</div>
                    <div class="text text-o">o</div>
                  </div>
                <!-- /Animacion cargando --> 
            </div>
        </div>
    </h:body>
</html>

