<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <h:outputStylesheet library="template" name="css/materialize.min.css"/>
        <h:outputStylesheet library="template" name="css/app.css" />
        <h:outputStylesheet library="template" name="css/jquery.terminal.min.css"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <h:outputScript library="template" name="js/jquery-3.3.1.min.js" />
        <h:outputScript library="template" name="js/app.js" />
        <h:outputScript library="template" name="js/materialize.min.js" />
        <h:outputScript library="template" name="js/pagination.js"/>
        <h:outputScript library="template" name="js/jquery.terminal.min.js"/>
        <title>Game Coder</title>
        <f:event type="preRenderView" listener="#{gameCoderControlAcceso.verificaSesion()}"/>
    </h:head>

    <h:body>
        <!-- Mensaje Global -->
        <p:growl id="msg" autoUpdate="true" showSummary="true"/>
        <!-- Menu principal -->
        <c:if test="#{gameCoderControlAcceso.usuario == -1}">
            <ui:include id="pag1" src="Partials/Menu.xhtml"/>
        </c:if>
        <!-- Menu Administrador -->
        <c:if test="#{gameCoderControlAcceso.usuario != -1}">
            <ui:include id="pag2" src="Partials/MenuAdmin.xhtml" rendered="#{gameCoderControlAcceso.usuario != -1}"/>
        </c:if>
        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <ui:include src="Partials/Footer.xhtml"/> 

    </h:body>

</html>
