<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <body>

        <ui:composition template="./../../Plantilla.xhtml">

            <ui:define name="content">
                <div class="container">
                    <div class="col s12">
                        <div id="msgUsr" class="messenger messenger-fixed-top" style="color:white;"></div>
                    </div>
                     <div class="col s12" style="margin-top: 120px;">
                         <h:form enctype="multipart/form-data">
                             <div class="row box-shadow-item">
                                 <div class="col s12">
                                    <div class="col s1"></div>
                                    <div class="input-field col s5">
                                        <h:inputText id="input_text_n"  a:data-length="100" 
                                                     value="#{gameCoderLevelsBean.levelTemp.nombre}"
                                                     required="true"
                                                     requiredMessage="Ingrese un nombre"/>
                                       <label for="input_text_n">Nombre</label>
                                    </div>
                                     <div class="input-field col s5">
                                        <h:inputText id="input_text_p"  a:data-length="100" 
                                                     value="#{gameCoderLevelsBean.pointsLevel}"
                                                     required="true"
                                                     requiredMessage="Ingrese un puntaje"/>
                                        <label for="input_text_n">Puntaje</label>
                                     </div>
                                    <div class="col s1"></div>
                                 </div>
                                 <div class="col s12">
                                    <div class="col s4"></div>
                                    <div class="col s4 input-field" style="text-align: center;">
                                        <h:commandButton class="waves-effect waves-light btn z-depth-5" value="Editar" 
                                                         action="#{gameCoderLevelsBean.editLevel()}"/>
                                    </div>
                                    <div class="col s4"></div>
                                </div>
                             </div>
                         </h:form>
                     </div>
                    <div class="col s12">
                          <h:graphicImage library="template" name="img/donkey-kong-gif-25.gif" class="sprites-two" style="margin-left: 250px"/>
                          <h:graphicImage library="template" name="img/diddy2.gif" class="sprites"/>
                     </div>
                 </div>
                
                <script type="text/javascript">
                     $(document).ready(function() {
                        $("input[type=text]").each(function(index,val){
                            $(this).characterCounter();
                        });
                        var messages = [
                            'Niveles',
                            'Edit'
                          ];
                          var messenger = new Messenger($('#msgUsr'),messages);
                        $("#content").addClass('level-background');
                      });
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
