<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../Plantilla.xhtml">

            <ui:define name="content">
                <div class="parallax-container">
                    <div class="parallax">
                        <h:graphicImage library="template" name="img/parallax8.jpg" />
                    </div>
                </div>
                <div class="section white">
                  <div class="row container" style="background:#ffffff;">
                    <h2 class="header">Super Mario World</h2>
                    <p class="grey-text text-darken-3 lighten-3">Es un juego de SNES que salio en el a&ntilde;o 1991, es el primer juego de plataformas que he jugado.</p>
                  </div>
                </div>
                <div class="parallax-container">
                  <div class="parallax">
                      <h:graphicImage library="template" name="img/chronotrigger.gif"/>
                  </div>
                </div>
                <div class="section white">
                  <div class="row container"  style="background:#ffffff;">
                    <h2 class="header">Chrono Trigger</h2>
                    <p class="grey-text text-darken-3 lighten-3">Es un juego de culto de SNES que salio en el a&ntilde;o 1995,  es un juego RPG que todos deber&iacute;an jugar, los personajes fueron creados por Akira Toriyama (Dragon Quest, Dargon Ball).</p>
                  </div>
                </div>
                <div class="parallax-container">
                  <div class="parallax">
                      <h:graphicImage library="template" name="img/7bc4504880c2b552d937950e905fe3e9.jpg"/>
                  </div>
                </div>
                <div class="section white">
                  <div class="row container"  style="background:#ffffff;">
                    <h2 class="header">Super Mario All Stars</h2>
                    <p class="grey-text text-darken-3 lighten-3">Es una colecci&oacute;n de juegos que contienen una &apos;Remasterizaci&oacute;n&apos; en 16 bits de los cl&aacute;sicos Mario Bros, Mario Bros 2, Mario Bros 3 y Mario Bros The Lost Levels.</p>
                  </div>
                </div>
                <div class="parallax-container">
                  <div class="parallax">
                      <h:graphicImage library="template" name="img/SuperMarioAllStars-Title2.gif"/>
                  </div>
                </div>
                <script type="text/javascript">
                     $(document).ready(function() {
                        $('.parallax').parallax();
                      });
                </script>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
