<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../Plantilla.xhtml">

            <ui:define name="content">
                <span id="base" base-attr="${facesContext.externalContext.requestContextPath}"></span>
                <!-- Agregamos el Juego -->
                <div class="container" style="margin-top: 15px;">
                    <!-- Canvas Row -->
                    <div class="row" id="canvasRow" style="padding-top: 20px;padding-bottom: 20px;">
                        <canvas id="gameCanvas" style="margin-left:55px;" width="800" height="650"></canvas>
                    </div>
                    <!-- /Canvas Row -->
                    <!-- Instruction Row -->
                    <div class="row" id="InstructionsRow">
                        <!-- Player Coder -->
                        <!-- Player Instructions -->
                        <ul id="tabs-swipe-demo" class="tabs">
                            <li class="tab col s3">
                                <a class="active" href="#GC-1">Personajes y Objetos</a>
                            </li>
                            <li class="tab col s3">
                                <a href="#GC-2">Mec&aacute;nicas de juego</a>
                            </li>
                            <li class="tab col s3">
                                <a id="GC4" href="#GC-4">Nivel</a>
                            </li>
                            <li class="tab col s3">
                                <a id="GC3" href="#GC-3">Game Coder</a>
                            </li>
                        </ul>
                        <!-- Tab Content 1-->
                        <div id="GC-1" class="col s12 blue">
                            <ul class="collection">
                                <li>
                                    <a class="subheader white-text" style="text-align: center;">
                                        <h5>Personajes</h5>
                                    </a>
                                </li>
                                <!-- Chrono -->
                                <li class="collection-item avatar">
                                  <h:graphicImage library="template" name="img/chrono_avatar.png" class="circle" />
                                  <p><b>Nombre:</b> Chrono<br/>
                                     <b>Juego: </b> Chrono Trigger <br/>
                                     <b>Consola: </b> Super Nintendo
                                  </p>
                                </li>
                                <!-- /Chrono -->
                                <!-- Mario -->
                                <li class="collection-item avatar">
                                  <h:graphicImage library="template" name="img/userImage.png" class="circle" style="width: 52px;"/>
                                  <p><b>Nombre:</b> Mario<br/>
                                     <b>Juego: </b> Super Mario RPG Legends Of The Seven Stars <br/>
                                     <b>Consola: </b> Super Nintendo
                                  </p>
                                </li>
                                <!-- /Mario -->
                                <!-- Thwomp -->
                                <li class="collection-item avatar">
                                  <h:graphicImage library="template" name="img/thwomp.png" class="circle"/>
                                  <p><b>Nombre:</b> Thwomp<br/>
                                     <b>Juego: </b> Super Mario RPG Legends Of The Seven Stars <br/>
                                     <b>Consola: </b> Super Nintendo
                                  </p>
                                </li>
                                <!-- /Thwomp -->
                                <li>
                                    <a class="subheader white-text" style="text-align: center;">
                                        <h5>Objetos</h5>
                                    </a>
                                </li>
                                <!-- Wall -->
                                <li class="collection-item avatar">
                                  <h:graphicImage library="template" name="img/Sprites/wall.png" class="circle"/>
                                  <p><b>Nombre:</b> Ladrillo<br/>
                                     <b>Juego: </b> Super Mario RPG Legends Of The Seven Stars <br/>
                                     <b>Consola: </b> Super Nintendo
                                  </p>
                                </li>
                                <!-- /Wall -->
                                <!-- Switch -->
                                <li class="collection-item avatar">
                                  <h:graphicImage library="template" name="img/Sprites/crate_drop_1.png" class="circle"/>
                                  <p><b>Nombre:</b> Switch<br/>
                                     <b>Juego: </b> Super Mario RPG Legends Of The Seven Stars <br/>
                                     <b>Consola: </b> Super Nintendo
                                  </p>
                                </li>
                                <!-- /Switch -->
                                <!-- Coin -->
                                <li class="collection-item avatar">
                                  <h:graphicImage library="template" name="img/coin-4.png" class="circle"/>
                                  <p><b>Nombre:</b> Moneda<br/>
                                     <b>Juego: </b> Super Mario RPG Legends Of The Seven Stars <br/>
                                     <b>Consola: </b> Super Nintendo
                                  </p>
                                </li>
                                <!-- /Coin -->
                                <!-- Star Crate -->
                                <li class="collection-item avatar">
                                  <h:graphicImage library="template" name="img/star_crate_1.png" class="circle"/>
                                  <p><b>Nombre:</b> Caja Estrella<br/>
                                     <b>Juego: </b> Super Mario RPG Legends Of The Seven Stars <br/>
                                     <b>Consola: </b> Super Nintendo
                                  </p>
                                </li>
                                <!-- /Star Crate -->
                             </ul>
                        </div>
                        <!-- /WTab Content 1-->
                        <div id="GC-2" class="col s12 red">
                            <p class="white-text"><i class="material-icons">feedback</i> Mario y Chrono puede moverse hacia arriba, abajo, izquierda, derecha.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Las cajas estrella pueden ser empujadas hacia arriba, abajo, izquierda, derecha.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Las monedas valen 100 puntos.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Thwomp puede aplastarte y hacer que pierdas un personaje, si te quedas sin personajes pierdes.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> El objetivo del juego es colocar las cajas estrellas encima de los switch.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Cuentas con un n&uacute;mero de movimientos, si te quedas sin movimientos y no terminaste el nivel pierdes.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Para mover al personaje cuentas con las siguientes instrucciones:</p>
                            <p class="white-text">&nbsp;&nbsp;<i class='material-icons'>code</i>&nbsp;<b>move_left()</b>&nbsp;- Recibe como argumento el n&uacute;mero de veces que se va a repetir, por defecto es un movimiento a la izquierda.</p>
                            <p class="white-text">&nbsp;&nbsp;<i class='material-icons'>code</i>&nbsp;<b>move_right()</b>&nbsp;- Recibe como argumento el n&uacute;mero de veces que se va a repetir, por defecto es un movimiento a la derecha.</p>
                            <p class="white-text">&nbsp;&nbsp;<i class='material-icons'>code</i>&nbsp;<b>move_down()</b>&nbsp;- Recibe como argumento el n&uacute;mero de veces que se va a repetir, por defecto es un movimiento hacia abajo.</p>
                            <p class="white-text">&nbsp;&nbsp;<i class='material-icons'>code</i>&nbsp;<b>move_up()</b>&nbsp;- Recibe como argumento el n&uacute;mero de veces que se va a repetir, por defecto es un movimiento hacia arriba.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Todas las instrucciones deben de tener punto y coma al final de cada instrucci&oacute;n ( <b>;</b> ).</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Cuentas con 3 oportunidades para t&eacute;rminar todos los niveles.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Puedes cambiar de tab para ver el nivel en el que est&aacute;s.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Para limpiar la terminal usa el comando clear.</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Para eliminar todos tus movimientos usa la instruccion clear_all().</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Para eliminar el movimiento anterior usa la instruccion clear_last().</p>
                            <p class="white-text"><i class="material-icons">feedback</i> Abre paso tomando las monedas, las cajas estrellas solo pueden pasar por camino libre.</p>
                        </div>
                        <div id="GC-3" class="col s12 cyan">
                            <p class="white-text"><i class="material-icons">feedback</i> Escribe las instrucciones en la terminal, ejecuta para que se registren y cuando est&eacute;s listo envia las instrucciones.</p>
                            <div id="term_demo" class="terminal">
                            </div>    
                            <div class="col s12" style="text-align: center;">
                               <a id="sendCode" class="btn tooltipped pulse" style="margin-top:20px;" data-position="bottom" data-tooltip="Presiona para enviar las instrucciones.">Enviar Instrucciones</a>
                            </div>
                        </div>
                        <div id="GC-4" class="col s12 black" style="text-align: center;">
                            <h4 class="white-text">Nivel Actual</h4>
                            <h:graphicImage library="template" name="img/Level_1.png" width="500" height="650"/>
                        </div>
                        <!-- /Player Instructions -->
                        <!-- /Player Coder -->
                        <div class="fixed-action-btn direction-top active" style="bottom: 45px;right: 24px;">
                            <!-- Element Showed -->
                            <a id="menu" style="margin-top: 50px;" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>

                            <!-- Tap Target Structure -->
                            <div class="tap-target cyan" data-target="menu">
                              <div class="tap-target-content white-text">
                                <h5>Bienvenido a Game Coder</h5>
                                <p>Las caracter&iacute;sticas del juego est&aacute;n en cada tab.</p>
                                <p>Felices Codigos c:</p>
                              </div>
                            </div>
                            <!-- /User Instructions -->
                        </div>
                    </div>
                    <!-- Modal Updates -->
                    <!-- Modal Structure -->
                    <div id="modalOne" class="modal">
                      <div class="modal-content" style="text-align: center;">
                        <h4>Level 2 comming soon!</h4>
                        <h:graphicImage library="template" name="img/level2.png" width="350" height="300"/>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
                      </div>
                    </div>
                    <!-- /Modal Updates -->
                </div>
                <h:outputScript library="template" name="js/cocossetup/cocos2d-js-v3.13.js" />
                <!-- Cocos Setup -->
                <h:outputScript library="template" name="js/cocosJS/resource.js"/>
                <h:outputScript library="template" name="js/cocosJS/PlayScene.js"/>
                <h:outputScript library="template" name="js/cocosJS/SushiSprite.js"/>
                <h:outputScript library="template" name="js/cocosJS/StartScene.js"/>
                <h:outputScript library="template" name="js/cocosJS/GameOverScene.js"/>
                <script type="text/javascript">
                    
                    //Variable Global de movimientos.
                    var playerMoves = [];
                    var playerMovesSuffix = [];
                    var moveLevel = [50,150,50,150];
                    var lvl = 0;
                    var movesTerm = 0;
                    var restartLvl = 0;
                    var continues = 3;
                    var instanceModal;
                    
                    $(document).ready(function(){
                        //Modal 
                        var elems = document.querySelector('.modal');
                        instanceModal = M.Modal.init(elems, {
                            "onCloseEnd" : function (){
                                console.log("Modal Dismiss");
                                M.toast({
                                    html: 'Thanks for playing!.'
                                });        
                            },
                            "dismissible" : false
                        });
                        
                        //Tap target
                        $('.tap-target').tapTarget();
                        $('.tap-target').tapTarget('open');
                        $('#menu').on('click',function(){
                            console.log("LOG");
                            $('.tap-target').tapTarget('open');
                        });
                        //Swipe Tabs
                        
                        var instance = M.Tabs.init(document.querySelector('.tabs'), {"swipeable": true});
                        $(".tabs-content").css("display","none");
                        $(".tabs-content").css("height","815");
                        $(".tabs-content").slideDown(1000);
                       
                       //Dejamos canvas invisible para el jugador
                       $("#canvasRow").css('display','none');
                       
                       //Tooltip
                       $('.tooltipped').tooltip();
                       
                        //Game Coder
                        var code = 0;
                        
                        /* Terminal */
                        $("#GC3").on('click', function(){
                            $('#term_demo').terminal(function(command) {
                                if (command !== '') {
                                    /*try {
                                        var result = window.eval(command);
                                        if (result !== undefined) {
                                            this.echo(new String(result));
                                        }
                                    } catch(e) {
                                        this.error(new String(e));
                                    }*/
                                    if(isValidCommand(command,playerMoves)){
                                        //Es un comando valido
                                        if(movesTerm === 0){
                                            this.echo('Movimiento registrado.');
                                            this.echo('Te quedan '+moveLevel[lvl]+' de '+moveLevel[lvl+2]+' movimientos.');
                                            console.log(playerMoves);
                                        }else if(movesTerm === 1){
                                            this.echo('N&uacute;mero de movimientos excede el m&aacute;ximo.');
                                            this.echo('Te quedan '+moveLevel[lvl]+' de '+moveLevel[lvl+2]+' movimientos.');
                                            movesTerm = 0;
                                        }else if(movesTerm === -1){
                                            this.echo('Ya no tienes movimientos.');
                                            this.echo('Movimientos: '+moveLevel[lvl]+' de '+moveLevel[lvl+2]+'.');
                                            this.echo('Utiliza la instrucci&oacute;n clear_last() o clear_all() si es necesario.');
                                            this.echo('Env&iacute;a las instrucciones con el bot&oacute;n Enviar Instrucciones.');
                                        }
                                    }else if(clear_All(command)){
                                        //Se eliminan todos los movimientos y se limpia la terminal
                                        movesTerm = 0;
                                        moveLevel = [40,150,40,150];
                                        playerMoves = [];
                                        this.echo('Movimientos borrados.');
                                        this.echo('Te quedan '+moveLevel[lvl]+' de '+moveLevel[lvl+2]+' movimientos.');
                                    }else if(clear_last(command)){
                                        //Se elimina un comando el ultimo ingresado
                                        var move = playerMoves.pop();
                                        moveLevel[lvl] += parseInt(move.split("-")[1]);
                                        movesTerm = 0;
                                        this.echo('Movimiento eliminado: '+move);
                                        this.echo('Te quedan '+moveLevel[lvl]+' de '+moveLevel[lvl+2]+' movimientos.');
                                    }else{
                                        this.error('Error de sint&aacute;xis en la instrucci&oacute;n.');
                                    }
                                    console.log(moveLevel[lvl]);
                                } else {
                                   this.echo('');
                                }
                            }, {
                                greetings: 'Game Coder Interpreter (term v. 1.14.0).',
                                name: 'js_demo',
                                height: 500,
                                prompt: 'gameCoder@Player> '
                            });
                            $("#term_demo").animate({
                                'margin-top' : 20 + 'px'
                            },500);
                        });
                        
                        /* Click en boton de Jugar */
                        $("#sendCode").on('click',function (){
                            
                            if(movesTerm === -1 || playerMoves.length &gt; 0){
                                //Agregamos los movimientos
                                for(var i=0; i &lt; playerMoves.length;i++){
                                    var move = playerMoves[i].split("-");
                                    for(var k=0; k &lt; parseInt(move[1]); k++){
                                        playerMovesSuffix.push(move[0]);
                                    }
                                }
                                //Verificamos que los movimientos sean correctos
                                console.log("Real Moves",playerMovesSuffix);
                                $("#InstructionsRow").fadeOut(1000,function(){
                                    $("#canvasRow").fadeIn(1000,function(){
                                        code = 1;
                                        //Inicio de Juego
                                        if(code === 1 &amp;&amp; restartLvl === 0){
                                            cc.game.onStart = function(){
                                                cc.view.enableRetina(false);
                                                cc.view.adjustViewPort(false);
                                                /*var policy = new cc.ResolutionPolicy(cc.ContainerStrategy.ORIGINAL_CONTAINER, cc.ContentStrategy.SHOW_ALL);*/
                                                //cc.view.setDesignResolutionSize(480,320,policy);
                                                console.log(cc.winSize.width);
                                                console.log(cc.winSize.height);
                                                cc.view.resizeWithBrowserSize(false);
                                                cc.director.setProjection(cc.Director.PROJECTION_2D);

                                                console.log(g_ressources);

                                                //load resources
                                                cc.LoaderScene.preload(g_ressources, function () {

                                                    cc.director.runScene(new PlayScene());

                                                    //cc.director.runScene(new MyScene());
                                                }, this);
                                            };
                                          cc.game.run("gameCanvas");
                                        }else if(restartLvl === 1 &amp;&amp; continues > 0){
                                            var transition = new cc.TransitionFade(1, new PlayScene(),cc.color(255,255,255,255));
                                            cc.director.runScene(transition);
                                        }else{
                                            cc.director.runScene(new PlayScene());
                                        }
                                    });
                                });
                            }else{
                                M.toast({
                                    html: 'Debes usar por lo menos un movimiento para poder enviar las instrucciones.'
                                });
                            }
                            
                        });
                    });
                    
                </script>
            </ui:define>

        </ui:composition>

    </body>
</html>
